.app {
  border-radius: 15px;
  overflow: hidden;
  position: relative;
  width: 70px;
  height: 70px;
  box-shadow: 5px 4px 6px -1px rgba(0, 0, 0, 0.2),
    0 2px 4px -1px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s ease-in-out;
  transform-style: preserve-3d;
}

.app:hover {
  transform: rotateY(10deg) rotateX(10deg) scale(1.1) translateZ(10px);
}
