.main {
    display: flex;
    flex-direction: column;
    height: auto;
}

.infoContainer {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.infoContainer h1 {
    color: var(--accent);
}

.info {
    border: 1px solid red;
}