.mainContainer {
  background-color: var(--background);
  padding: 20px;
}

.infoContainer {
    margin: 50px 15% 50px;
}

.mainContainer h1 {
  font-size: 3rem;
  margin-bottom: 30px;
}

.buttonContainter {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.button {
  display: flex;
  gap: 5px;
  align-items: last baseline;
  color: var(--text);
  padding: 8px 20px;
  border-radius: 8px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  transition: border-color 0.3s ease, box-shadow 0.3s ease,
    background-color 0.3s ease;
  background-color: var(--background);
}

.button:hover {
  background-color: var(--hover);
}

.moreInfo {
  margin: 0 15%;
}

.skillContainer {
  margin: 10px 0;
}

.skill {
  padding: 8px 20px 0px 0px;
  display: inline-flex;
  justify-content: space-evenly;
  color: var(--primary);
}