* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --background: #f3f4f6;
  --text: #0D0E10;
  --primary: #737ca1;
  --secondary: #A2A9C6;
  --accent: #838ebb;
  --hover: #dadbdd;
}

a {
  color: var(--accent);
  text-decoration: none;
}